{{ get_header() }}

{{ get_template_part('main/header') }}

{% block content %}
	{% loop %}
		<h1>{{ the_title() }}</h1>
		{{ the_content() }}
	{% endloop %}
{% endblock %}
{% block aside %}
	{{ get_sidebar() }}
{% endblock %}

{{ get_template_part('main/footer') }}

{{ get_footer() }}